{% extends 'base.html' %}
{% block content %}
<h1>Panel Administrateur</h1>

<h2>Ajouter un Produit</h2>
<form method="post" action="/admin/ajouter_produit">
    <input type="text" name="nom" placeholder="Nom" required>
    <input type="number" name="prix" step="0.01" placeholder="Prix" required>
    <input type="text" name="description" placeholder="Description" required>
    <input type="text" name="categorie" placeholder="Catégorie" required>
    <input type="number" name="stock" placeholder="Stock" required>
    <button type="submit">Ajouter</button>
</form>
<h2>Produits actuels</h2>
{% for p in produits %}
<div>
    {{ p.nom }} - {{ p.prix }} € - {{ p.description }} - {{ p.categorie }} - {{ p.stock }} 
    <a href="/admin/supprimer_produit/{{ p.id }}">Supprimer</a>
</div>
{% endfor %}

<h2>Toutes lesommandes</h2>
{% for c in commandes %}
<div> 
    {{ c.id }} - {{ c.client_nom }} - {{ c.total }} € - {{ c.date }}
</div>
{% endfor %}
{% endblock %}
