{% extends 'base.html' %}

{% block content %}

<h1>Mes Commandes</h1>
{% if commandes %}
    <div>
        <table>
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Total</th>
            </thead>
            <tbody>
                {% for c in commandes %}
                    <tr>
                        <td>{{ c.id }}</td>
                        <td>{{ c.date }}</td>
                        <td>{{ c.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/catalogue" style="display: inline-block; margin-top: 20px;">Continuer les achats</a>
    </div>
{% else %}
    <p>Vous n'avez aucune commande</p>
{% endif %}

{% endblock %}
